.slider-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
}

.slider-content {
    position: relative;
    width: auto;
    height: auto;
    max-width: 1000px;
    max-height: 90vh;
}

.slider-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.slider-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ImageVideoSlider.css */
.slider-prev,
.slider-next {
    font-size: 2rem;
    color: white;
    background: none; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer;
    outline: none; /* Remove focus outline */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-prev:hover,
.slider-next:hover {
    color: #ddd;
}

.slider-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider-image,
.slider-video {
    max-width: 100%;
    max-height: 90vh;
    object-fit: cover; /* Ensures the image/video fits within its container without stretching */
}